<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.finaltest.first.member.dao.MemberDAO">

	<!-- 회원가입 -->
	<!-- 아이디 중복 체크 -->
	<select id="dupliChk" resultType="int">
		SELECT COUNT(id) FROM member WHERE id = #{param1}
	</select>
	<!-- 회원가입 -->
	<insert id="join" parameterType="map">
		INSERT INTO member(id, pw, name, age, gender, email)
		VALUES(#{id}, #{pw}, #{name}, #{age}, #{gender}, #{email})
	</insert>
	<!-- 관리자 회원 -->
	<insert id="adminMem">
		INSERT INTO author(id, perm)
		VALUES(#{param1}, #{param2})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="String">
		SELECT id 
		FROM member 
		WHERE id = #{param1} AND pw = #{param2}
	</select>
	
</mapper>